/*#FFF587
#FF8C64
#FF665A
#7D6B7D
#A3A1A8*/

nav {
  width: 100%;
  background-color: #1a1b24;
  color: aliceblue;
  position: fixed;
  color: rgb(255, 255, 255);
  border-bottom: solid #81adff;
  z-index: 2;
  padding: 0%;
  transition: padding 1s;
  box-shadow: rgba(0, 123, 255, 0.35) 0px 5px 15px;
}
nav:hover {
  padding: 1%;
}

nav a {
  color: #b3b3b3;
  margin: 2%;
  text-decoration: none;
}
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(153, 153, 153);
  outline: none;
  user-select: none;
}
#moneButton {
  background-color: rgb(42, 42, 55);
  width: 100vw;
  height: 90vh;
  border: none;
  transition: font-size 0.1s;
  position: inherit;
}
#moneButton h1 {
  color: rgb(255, 255, 255);
}
#moneButton:hover {
  font-size: medium;
}
#moneButton:active {
  font-size: large;
}
button {
  background-color: rgb(44, 44, 58);
  width: 100%;
  color: rgb(182, 182, 182);
  border: none;
  padding: 2%;
  margin-bottom: 2%;
  position: relative;
  transition: background-color 0.2s, padding 0.3s;
  border-bottom: #81adff solid 1px;
  border-radius: 5px 5px 20px 20px;
}
button:hover {
  padding-top: 4%;
  padding-bottom: 4%;
}
button:active {
  background-color: rgb(23, 23, 31);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #1a1b24;
  text-align: center;
}
body {
  background-color: rgb(42, 42, 55);
}

h1 {
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: rgb(44, 44, 58);
  border-radius: 7px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content img {
  width: 75%;
  z-index: 0;
  border-bottom: solid #81adff;
  box-shadow: rgba(0, 123, 255, 0.35) 0px 5px 15px;
  min-height: 25vh;
  border-radius: 30px;
}
#sale {
  position: absolute;
  left: 12%;
  border: none;
  top: 10%;
}
#houseName {
  color: rgb(255, 0, 89);
  font-weight: bold;
}
#housePrice {
  color: rgb(255, 0, 89);
  font-weight: bold;
}
#houseRent {
  color: rgb(255, 0, 89);
  font-weight: bold;
}
.modal-content button {
  margin-bottom: 1%;
  color: white;
  background-color: rgba(255, 0, 0, 0.426);
}
.modal-content button:active {
  margin-bottom: 1%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 119);
  box-shadow: rgb(255, 0, 119) 0px 5px 15px;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2.5em;
  height: 2.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgb(182, 182, 182);
}

.svg-icon circle {
  stroke: rgb(182, 182, 182);
  stroke-width: 1;
}
#backbtn {
  width: fit-content;
  padding: 0;
  background: none;
  border: none;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}
#count {
  margin: 3%;
  transition: color 0.3s;
  color: rgb(255, 255, 255);
}
#buybtn {
  background-color: rgba(29, 109, 56, 0.507);
  color: aliceblue;
}
#buybtn:active {
  background-color: rgba(0, 255, 85, 0.514);
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 255, 85, 0.514) 0px 5px 15px;
}
.ye {
  position: fixed;
  top: 3vw;
  right: 47vw;
}
.ye p {
  color: rgb(255, 255, 255);
}
.bet {
  background-color: rgba(0, 0, 0, 0.473);
  width: fit-content;
  margin: auto;
}
.betBtn {
  width: 49%;
  background-color: #2f2842 !important;
}
.betBtn:hover {
  width: 49%;
  background-color: #7a6ca1 !important;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  position: relative;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #272341b6; /* Grey background */
  border-bottom: #81adff solid;
  border-radius: 20px;
  overflow: hidden;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #7eabff00; /* Green background */
  border: #5593ff solid 1px;
  border-radius: 10px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#tip {
  position: fixed;
  text-align: center;
  width: 50%;
  left: 25%;
  bottom: 5vh;
  color: #ffffff34;
  transition: color 1s;
}
#tip:hover {
  position: fixed;
  font-size: large;
  text-align: center;
  width: 50%;
  left: 25%;
  bottom: 5vh;
  color: #ff5a5a;
}
button img {
  width: 2%;
}
.buttonicon {
  position: absolute;
  top: 10%;
  left: 2%;
  height: 80%;
}
.owe button {
  background-color: rgb(170, 255, 0);
  box-shadow: rgba(153, 255, 0, 0.556) 0px 5px 20px 0px;
  color: rgb(0, 0, 0);
}
.owe button:active {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: none;
}
.owe {
  display: none;
}
.creator {
  background-color: #1916205f;
  text-align: center;
  border-radius: 50px;
  padding: 2%;
  position: relative;
}

.creator input {
  width: 80vw;
  padding: 2%;
  border: #2f2842 solid;
  margin: 1%;
  border-radius: 20px;
  background-color: #2f2842;
  color: white;
}
.creator button {
}
@keyframes things {
  0% {
    left: 0%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}

.uwu {
  position: absolute;
  animation: things infinite 2s;
  top: 0%;
  margin: 0;
  height: 50%;
  fill: rgb(255, 255, 255);
  stroke: rgb(107, 125, 255);
}
